<h1>Editing product_category</h1>
<h2> Product Categories </h2>
<%= render 'shared/product_categories_index' %>

<h2> Edit Product Category </h2>
<%= render 'form' %>

<%= link_to 'Show', @product_category %> |
<%= link_to 'Back', product_category_path %>
