<h1>New Product Category</h1>

<h2> Product Categories </h2>
<%= render 'shared/product_categories_index' %>

<h2> Create New Product Category </h2>
<%= render 'form' %>

<%= link_to 'Back', shop_category_product_categories_path %>
